@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  text-align: center;
  background-color: orange;
  background-image: linear-gradient(
    to right,
    rgb(73, 70, 70),
    rgb(124, 124, 84)
  );
}
h1 {
  font-family: "Tilt Warp", cursive;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(175, 175, 171);
  border: 2px solid rgb(5, 5, 5);
  display: inline-block;
}

.o {
  position: relative;
}
.o:after {
  position: absolute;
  content: "❌";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.x {
  position: relative;
}
.x:after {
  position: absolute;
  content: "⚪";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
